 footer {
  width: 100%;
 }
 
.column {
  background-color: black;
}

 .footer-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  /* width: 100%; */
  /* border: red solid 1px; */
}

.rows {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 12%;
  flex-shrink: 0;
  margin: 0;
  /* border: yellow solid 1px; */
  padding-top: 20px;
}

.rows a {
  
}

.essentials {
  display: flex; 
  justify-content: center;
  /* border: green solid 1px; */
  width: 100%;
  height: auto;
}

.essentials ul {
  display: flex;
  /* Make the ul a flex container */
  justify-content: center;
  /* Center list items horizontally */
  margin: 0;
  padding: 0;
  align-items: center;
}

.privacy {
  display: flex;
  flex-direction: column;
}

.socials {
  /* border: purple solid 1px; */
}

.developer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 8vh; */
  /* border: blue solid 1px; */
}