<!-- <section class="centered-column"> -->
  <!-- <section class="content">

  </section> -->

  <!-- Footer Section -->
  <div class="footer">
    <div class="full-size centered-column container-padding-1em">

      <div class="content centered-column full-size">
        <div class="space-btwn content centered-column full-size">
        <!-- Column 1: Iron John's Logo -->
        <div class="image-container">
          <a href="#"><img src="../images/ironJohnsLogo.png" alt="Iron John's Brewing logo"></a>
        </div>

        <!-- Column 2 Email List Header -->
        <div class="email-form centered-column ">
          <div class="form-head centered-column">
            <h2 class="light-text">Stay in the Loop</h2>
            <hr class="section-divider element-margin" />
            <p class="medium-size-text light-text align-text">Get the freshest updates on our specials & events!</p>
          </div>

          <!-- Column 3 Email List Form -->
          <div class="input-button">
            <label class="visually-hidden" for="email" required aria-required="true">Email</label>
            <input class="input-box" type="text" id="email" placeholder="Email Address" required aria-required="true">
            <button class="email-signup-button">Sign Up</button>
          </div>

        </div>
      </div>
        <div class="centered-column remove-style-type light-text full-size">
          
          <ul class="centered-column gap-1em switch-to-row">
            <li class="centered-column">
              <a class="remove-style-type  medium-size-text hover-orange" href="./menus/fullMenu.html">Menu</a>
            </li>
            <li class="centered-column">
              <a class="remove-style-type  medium-size-text hover-orange" href="#">Locations</a>
            </li>
            <li class="centered-column" >
              <a class="remove-style-type  medium-size-text hover-orange" href="../pages/about.html">About Us</a>
            </li>
            <li class="centered-column">
              <a class="remove-style-type  medium-size-text hover-orange" href="../pages/brewery.html">Brewery</a>
            </li>
            <li class="centered-column">
              <a  class="remove-style-type  medium-size-text hover-orange" href="../pages/contact.html">Contact</a>
            </li>
            <li class="centered-column">
              <a class="remove-style-type  medium-size-text hover-orange" href="#">Careers</a>
            </li>
          </ul>

          <div class="social-icons">
            <a href="https://www.instagram.com/ironjohnsbrew/" target="_blank" aria-label="Instagram">
              <i class="fab fa-instagram hover-white"></i>
            </a>
            <a href="https://www.facebook.com/IJBCBroadway/" target="_blank" aria-label="Facebook">
              <i class="fab fa-facebook hover-white"></i>
            </a>
          </div>

          
        </div>
      </div>
    </div>

    <div class="centered-column full-size light-text background-color-dark container-padding-1em">
      <div class="centered-column legal centered-row">
        <p>&copy; 2025 Iron John’s Brewing.</p>
        <div class="always-row">

          <p ><a href="/accessibility.html" class="light-text small-text hover-orange">Accessibility</a></p>
          <p class="divider small-text">|</p>
          <p class="site-credit small-text"> Site by: <a href="https://yourname.dev" class="light-text small-text hover-orange"> Tre.Lo</a></p>

      </div>
      </div>
    </div>
  </div>
  <!-- </section> -->