<section class="footer-container">
  

  <div class="column">
    <div class="rows">
      <a href="/public/index.html"><img class="header-image" src="../images/ironJohnsLogo.png" alt="Iron John's Logo"></a>
      <div class="essentials">
        <ul>
          <li><a href="">Jobs</a></li>
          <li><a href="">Contact</a></li>
          <li><a href=""><button>Email SignUp</button></a></li>
        </ul>
      </div>
      <div class="socials">
        <h2>Find Us</h2>
        <ul>
          <li>Instagram</li>
          <li>Facebook</li>
        </ul>
      </div>
    </div>
    <div class="developer-details">
      <p>Powered By: </p>
      <p>DevSpaceJohanasen</p>
    </div>
  </div>
</section>