.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: black;
  /* border: red solid 1px; */
}

.rows {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 12vh;
  flex-shrink: 0;
  margin: 0;
  /* border: yellow solid 1px; */
}

.essentials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: green solid 1px; */
  width: 100%;
  height: auto;
}

.essentials ul {
  display: flex;
  /* Make the ul a flex container */
  justify-content: center;
  /* Center list items horizontally */
  margin: 0;
  padding: 0;
  align-items: center;
}



.socials {
  /* border: purple solid 1px; */
}

.developer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
  /* border: blue solid 1px; */
}