  <section class="navbar">
    <a href="/index.html" class="header-image"><img  src="../images/ironJohnsLogo.png" alt="Iron John's Logo"></a>

    <ul class="nav-menu">
      <li class="dropdown"><a class="medium-font-size" href="../pages/menu.html">Menus</a></li>
      <li class="dropdown">
        <a href="#" class="medium-font-size dropbtn">Locations</a>
        <ul class="dropdown-menu">
          <li><a class="medium-font-size" href="#">Broadway</a></li>
          <li class="dropdown-submenu"><a href="#" class="dropbtn2">18th Street</a></li>
          <li><a class="medium-font-size" href="#">Juniper</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class="medium-font-size dropbtn">About</a>
        <ul class="dropdown-menu">
          <li><a class="medium-font-size" href="../pages/about.html">Our Story</a></li>
          <li><a class="medium-font-size" href="../pages/brewery.html">The Brewery</a></li>
        </ul>
      </li>
      
      <li class="dropdown"><a class="medium-font-size" href="#">Events</a></li>
      <li class="dropdown">
        <a href="#" class="medium-font-size dropbtn">Contact</a>
        <ul class="dropdown-menu">
          <li><a class="medium-font-size" href="../pages/contact.html">Direct</a></li>
          <li><a class="medium-font-size" href="#">Party Reservations</a></li>
          <li><a class="medium-font-size" href="#">Careers</a></li>
          <li><a class="medium-font-size" href="#">Investors</a></li>
        </ul>
      </li>
      <!-- order-active is styling specific to mobile viewing -->
      <li class="dropdown order-list"><a href="/pages/order.html" class="order-active mobile-order order-btn small-font-size">Order Online</a>
      </li> 
    </ul>

    <button class="menu-toggle">☰</button>
  </section>

  <script src="./script.js"></script>

</html>