header {
  /* height: 40px; */
  position: absolute;
  top: 0;
  z-index: 20;
  transition: all 0.2s ease;
  width: 100%;
}

nav {
  display: flex;
  font-size: 17px;
  font-weight: 500;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: fixed;
  z-index: 1;

}

.header-image {
  max-height: 130px;
  min-height: 65px;
  transition: height 0.2s ease;
  padding: 0;
  margin: 5px 40px;
  /* border: solid 1px white; */
  border-radius: 5px;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.888);
  transition: background-color 0.8s ease, color 0.8s ease;
  color: black;

}

ul {
  display: flex;
  margin-left: auto;
  /* list-style-type: none; */
  /* align-items: center; */
  height: 100%;
}


li {
  /* display flex and align items centers order online button vertically */
  display: flex;
  align-items: center;
  /* Center items vertically */
  height: 100%;
  /* Ensure li elements fill the height of the nav */
  margin-right: 10px;
}

li a {
  display: flex;
  font-family: Bronco;
  letter-spacing: 2px;
  font-size: 18px;
  text-decoration: none;
  /* justify-content: space-between; */
  align-items: center;
  color: white;
  height: 100%;
  /* Ensure a elements fill the height of the li */
  padding: 0 30px 0 30px;
}

ul.dropdown {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 70px;
  visibility: hidden;
  opacity: 0;
  /* Initially invisible */
  transform: translateY(-10px);
  /* Start slightly above */
  transition: opacity 0.4s ease, transform 0.4s ease;
  /* Slow transition */

}

li:hover>ul.dropdown {
  max-height: 45px;
  display: block;
  visibility: visible;
  opacity: 1;
  /* Fully visible */
  transform: translateY(0);
  /* Move to the final position */
  transition: opacity 0.4s ease, transform 0.4s ease;
  /* Transition for opacity and transform */
}

/* Style the dropdown items */
ul.dropdown li a {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border: transparent dashed 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease, color 0.8s ease, border-color 0.8s ease;
  text-decoration: none;
  font-size: 15px;

}

ul.dropdown li a:hover {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: #F99D2C;
  border-left: 4px solid #F99D2C;
  transition: background-color 0.3s ease, color 0.8s ease, border-color 0.8s ease;
}

/* consider modularizing some button class and properties so that some elements can be standarized to other buttons throughout the website. This provides consistency and ease of ability to update code. */

a.order-btn {
  display: inline-block;
  /* Keeps it as an inline-block, so it behaves like a button */
  text-decoration: none;
  /* Remove underline from the link */
  padding: 0;
  /* Remove any extra padding from the <a> tag */
  background-color: transparent;
  /* Make sure the link itself has no background */
}

.order-btn {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px 25px;
}

.order-btn:hover {
  box-sizing: border-box;
  background-color: #F99D2C;
  color: black;
  border: 2px solid transparent;
}