<!-- Using this structure (by creating a separate nav.html and loadNav.js section) allows you to maintain a single source of truth for your navigation, making updates much simpler and keeping your HTML DRY (Don’t Repeat Yourself).

By loading your navigation this way, you ensure that any changes made to nav.html will automatically reflect across all pages that use this script, simplifying maintenance and enhancing consistency across your website. -->

<nav role="navigation">
  <img class="header-image" src="../assets/images/IronJohnsLogo.png">
  <ul>
    <li><a href="#">Menu</a>
      <ul class="dropdown">
        <li><a href="#">On Tap Menu</a></li>
        <li><a href="#">Food Menu</a></li>
        <li><a href="#">Merch</a></li>
      </ul>
    </li>
    <li><a href="#">Brewery</a></li>
    <li><a href="#">Locations</a>
      <ul class="dropdown">
        <li><a href="#">Broadway</a></li>
        <li><a href="#">18th Street</a></li>
        <li><a href="#">Juniper</a></li>
      </ul>
    </li>
    <li><a href="#">About</a>
      <ul class="dropdown">
        <li><a href="#">Our Story</a></li>
      </ul>
    </li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Contact</a>
      <ul class="dropdown">
        <li><a href="#">Direct</a></li>
        <li><a href="#">Party Reservations</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Investors</a></li>
      </ul>
    <li><button class="button order-btn" >Order Online</button>
    </li>
  </ul>
</nav>