.about-main {
  margin-top: 0;
}

.our-story-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: black;
}

.our-story-text {
  flex: 1 1 50%;
  padding: 5% 7.5%;
  border-top: red solid 2px;
  border-bottom: red solid 2px
}

.our-story-text a {
  display: block;
  width: auto;
  max-width: 175px;
  margin-top: 3rem;
}

.section-title {
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background-color: red;
  margin: 1.5rem 0;
}

.our-story-img {
  display: flex;
  flex: 1 1 50%;
  padding: 3%;
  background-color: red;

}

.our-story-img picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.responsive-item {
  width: 100%;
  aspect-ratio: 1 / 1; /* Aspect ratio for square images */
}

@media (max-width: 768px) {
  .our-story-text,
  .our-story-img {
    flex: 1 1 100%;
  }
}


/* .practice-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 2rem;
  width: 100%;
  background-color: black; 
}

.practice-div {
  flex: 1 1 300px;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  background-color: #0077cc;
  color: white;
  font-size: 1.5rem;
  display: flex;
  border: solid 1px green;
  
} */