
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.5rem;
  padding: 2rem 0;
  /* Making sure that the main content minds the height of the navigation bar on desktop */
  background-color: #232323;
}

/* If you want .contact-picture to always fill space but not overflow, use max-height instead of height.*/
/* Im using background-image here instead of in the html because its purely decorative and is not content-related*/
.contact-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: auto;
  background-image: url(../images/IJBroadwayLoc.jpg);
  background-size: cover;
  /* border: yellow solid 2px; */
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  max-height: 85%;
  box-sizing: border-box;
  background-color: rgb(48, 4, 4);
  /* border: rgb(80, 243, 80) solid 2px; */
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  padding: 4.5rem 2.5rem;
}

.form-content h2,
p {
  margin-bottom: 1.5rem;
  text-align: center;
}

textarea,
select,
option,
input {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  padding: .5rem;
  color: black;
  font-family: "Oswald", serif
}

textarea {
  min-height: 100px;
  max-height: 200px;
  height: auto;
}

.half input::placeholder {
  color: green;
  font-family: "Oswald", serif !important;
}

.half {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  border: none;
}

.half label {
  /* border:solid 2px rgb(80, 243, 80); */
  width: 50%;
}

.full {
  width: 100%;
  border: none;
}

.full label input {
  display: flex;
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Adjust as needed */
}

.visually-hidden {
  position: absolute;    
  left: -9999px;
}

.btn-margin {
  margin-top: 1.5rem;
}

@media (min-width: 2560px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .contact-picture {
    margin-top: 3rem;
    max-width: 60%;
    min-height: 65%;
  }

  .form-wrapper {
    margin: 2rem;
    max-width: 50%;
    max-height: 75%;
  }
}

@media (max-width: 1440px) {
  .form-wrapper {
    max-width: 65%;
    max-height: 85%;
  }
}


@media (max-width: 1024px) {
  .contact-picture {
    min-width: 100%;
  }

  .form-wrapper {
    min-width: 75%;
    max-height: 90%;
  }
}

@media (max-width: 769px) {

  .contact-picture {
    margin: 3rem 0;
    padding: 3rem 0;
    height: auto;
  }

  .form-wrapper {
    min-width: 90%;
    min-height: 90%;
  }

  .form-content h2 {
    font-size: 1.5rem;
  }

  .form-content p {
    font-size: 1.1rem;
  }

  .form-content {
    padding: 1.25rem 1rem;
  }
}

@media (max-width: 426px) {
  .form-content {
    padding: 1.25rem .4rem;
  }

  .half {
    flex-wrap: wrap;
    min-width: 100%;
  }

  .half label {
    width: 100%;
  }
}