.outter-container {
  border: purple solid 2px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.5rem;
  /* Making sure that the main content minds the height of the navigation bar on desktop */
  border: green solid 2px;
  background-color: black;
}

/* If you want .contact-picture to always fill space but not overflow, use max-height instead of height.*/
/* Im using background-image here instead of in the html because its purely decorative and is not content-related*/
.contact-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 95%;
  background-image: url(../images/IJBroadwayLoc.jpg);
  background-size: cover;
  border: yellow solid 2px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80%;
  box-sizing: border-box;
  background-color: rgb(48, 4, 4);
  border: rgb(80, 243, 80) solid 2px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  padding: 2.5rem;
}

.form-content h2, p {
  
  margin-bottom: 1.5rem;
  text-align: center;
}

textarea,
select,
option,
input {
  width: 100%;
  max-width: 100%;
  margin-top:10px;
  color: black;
}

.half {
 display: flex;
 flex-direction: row;
 width: 100%;
 gap: 3%;
 border: none;
 
}

.half label{
  /* border:solid 2px rgb(80, 243, 80); */
  width: 50%;
}

.full {
  width: 100%;
  border: none;
}
.full label input{
  display: flex;
  width: 100%;
}

select, input, textarea {
  padding: .5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn-margin {
  margin-top: 1.5rem;
}

@media (min-width: 2560px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-picture { 
    margin-top: 3rem;
    min-width: 60%;
    min-height: 60%;
  }
  .form-wrapper {
    max-width: 50%;
    min-height: 50%;
  }
}

@media (max-width: 1440px) {
  .form-wrapper {
    max-width: 55%;
    max-height: 80%;
  }
}
  

@media (max-width: 1024px) {
  .contact-picture {
    min-width: 100%;
  }
  .form-wrapper {
    min-width: 75%;
  }
}

@media (max-width: 769px) {

  .contact-picture {
    margin: 3rem 0;
    padding: 3rem 0;
    height: auto;
  }

  .form-wrapper {
    min-width: 90%;
    min-height: 90%;
  }

  .form-content h2 {
    font-size: 1.5rem;
  }

  .form-content p {
    font-size: 1.1rem;
  }

  .form-content {
    padding: 1.25rem 1rem;
  }

  
}

@media (max-width: 426px) {
  .form-content {
    padding: 1.25rem .5rem;
  }
  .half {
    flex-wrap: wrap;
    min-width: 100%;
  }

  .half label{
    width: 100%;
  }
}