/* Style inspired by https://www.agavehousetucson.com/menus/ */

.main-body {
  /* border: solid red 1px; */
}

.banner-container {
  border-bottom: dotted #F99D2C 1.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-banner {
  /* border: yellow 1px solid; */
}

.menu-banner h1 {
  letter-spacing: .5rem;
}

.menu-banner h1 {
  padding: 1rem 0 1rem 0;
}

.location-phone {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  /* border: blue solid 1px; */
}

.directions h3 {
  padding-bottom: .5rem;
}

.phone {
  display: flex;
  align-items: flex-end;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
  width: 85%;
}

.menu-button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  color: #F99D2C;
  border: 1px solid #F99D2C;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-button:hover,
.menu-button:active {
  background-color: #F99D2C;
  color: white;
  border: 1px solid transparent;
}

.menu-content-container {
  border: #F99D2C solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 100%;
  padding: 2rem;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  border: yellow solid 1px;
}

/* PAGE FOR EACH TOPIC ON THE MENU */
/* Header Styling */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: green 1px solid; */
}

.header {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  width: 50%;
}

.header-wrap {
  padding-bottom: 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 1rem;
}

.header-line {
  flex-grow: 1;
  border: 0;
  height: 1px;
  width: 70%;
  background-color: #ddd;
}

.header h1 {
  margin: 0;
  font-size: 2em;
  color: #F99D2C;
}

.picture-section {
  display: flex;
  /* Flexbox layout */
  justify-content: space-between;
  /* Add space between pictures */
  width: 90%;
  max-height: 350px;
  padding-bottom: 2rem;
  /* border: 1px solid royalblue;  */
}

.beer-picture {
  display: flex;
  justify-content: center;
  width: 30%;
  /* border: 1px solid rgb(121, 225, 65); */
}

.beer-picture img {
  width: auto;
  /* Reduce width for better spacing */
  height: 100%;
  /* Maintain aspect ratio */
  /* border: 1px solid purple;  */
}


/* Beer Menu Layout */

.beer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 1rem;
  border-top: white solid 1px;
  /* border: orchid solid 1px; */
}

.beer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  /* border: blue solid 1px; */
}

.beer-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
  flex-wrap: wrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem 1rem;
  gap: .5rem;
  /* Space between items */
  /* border: orangered solid 1px; */
}

.beer-item h2 {
  font-size: 1.5em;
  margin: 0 0 5px;
  color: #f9f9f9;
}

.beer-item p {
  font-size: 1em;
  color: #f9f9f9;
}

.price-row {
  display: flex;
  justify-content: space-between;
  /* Align size and price at opposite ends */
  align-items: center;
  /* Vertically align content */
  width: 100%;
  /* Full width of the parent container */
  position: relative;
  /* For the dotted line */
  padding: 5px 0;
  /* Add vertical spacing */
  gap: 5rem;
  /* border: red solid 1px; */
}

.price-row::before {
  content: "";
  position: absolute;
  top: 50%;
  /* Center the line vertically */
  left: 5rem;
  right: 5rem;
  /* specified width */
  height: 1px;
  background: repeating-linear-gradient(to right, #f9f9f9, #f9f9f9 2px, transparent 2px, transparent 4px);
  z-index: 0;
  /* Place it behind the content */
}

.price-row p {
  background: #f99d2c49;
  /* Match your page's background for overlay effect */
  border-radius: 2px;
  padding: 0 10px;
  /* Add padding to separate text from the dotted line */
  z-index: 1;
  /* Ensure it appears above the line */
}

.na-wrapper {
  flex: 1;
  min-width: 50%;
}

.na-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: rgb(255, 200, 0) solid 2px;
  border-radius: 2px;
  min-width: 50%;
}

.na-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  gap: .5rem;
  padding: 1rem;
  /* border: red solid 1px; */
}

.transparent-wrap {
  visibility: hidden;
  min-width: 50%;
}