.order-sec {
  /* border: yellow 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 1.6rem;
  /* border: red 1px solid; */
}

.order-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: green 1px solid; */
}

.order-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: yellow 1px solid; */
}

.order-header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  border-top: #F99D2C 3px solid;
  border-bottom: #F99D2C 3px solid;
  width: 80%;
  letter-spacing: .25rem;
  margin: 2rem;
  align-items: center;
}

.order-header h2 {
  margin-bottom: 2rem;
}

.order-online-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: green 1px solid; */
}

.restaurant-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  /* border: yellow 1px solid; */
}

.details-button {
  display: flex;
  gap: 2rem;
  align-items: center;
  /* border: yellow 1px solid; */
}

.hours {
  /* line-height: 1rem; */
  /* border: blue 1px solid; */
  padding: 0;
}

/* CSS for modal  */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #232323;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: 800px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.close-button:hover {
  font-weight: 700;
  color: #F99D2C;
}

.rest-details-header h2 {
  padding: .5rem;
  /* font-size: 2rem; */
}

.hours-addy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px white;
  padding: 1.5rem;
}

.addy,
.addy p,
.phone-num {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: .5rem;
}

.phone-button {
  border-radius: 3px;
}

.phone-button:hover,
.phone-button:active {
  border-color: black;
  color: #F99D2C;
  background-color: black;
}

.email {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}