<article class="menu-section">
  <h2>Craft Beer</h2>
  <p>Our own signature brews with a unique seasonal always on draft</p>
  <div class="beer-wrapper">
    <ul class="beers">
      <li>
        <p>The Blondie</p>
        <p class="block">10oz $7/16oz $9</p>
        <p>Ano - Amber</p>
        <p class="block">10oz $7/16oz $9</p>
        <p>The Roadrunner - Hazzy IPA</p>
        <p>10oz $7/16oz $9</p>
        <p>The Santa Cruz - Westcoast IPA</p>
        <p>10oz $7/16oz $9</p>
      </li>
      <li>
        <p>The Hanz - Hefeweizen</p>
        <p>10oz $7/16oz $9</p>
        <p>Irish Goodbye - Stout</p>
        <p>10oz $7/16oz $9</p>
        <p>Seasonal - Barely Wine</p>
        <p>10oz $7/16oz $9</p>
      </li>
    </ul>
  </div>
</article>