<body>
  <main class="main">
    <section class="header">
      <div class="header-wrap">
        <div class="header-container">
          <hr class="header-line">
          <h1>Burger Menu</h1>
          <hr class="header-line">
        </div>
        <p>Sub beef patty with a black bean vegi patty or grilled chicken!</p>
        <p>All burgers include a side of fries or salad.</p>
        <p>Sub side of fried pickles or loaded Sanoran fries for an extra charge.</p>
      </div>
    </section>

    <section class="picture-section">
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/16ozTapCollage.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/blonde.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
    </section>

    <section class="beer-menu">
      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Great American</h2>
            <p>$13.00</p>
          </div>
          <p>1/3lb patty, shredded lettuce, American cheese, onion, tomatoes, green chili remoulade.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>El Diablo</h2>
            <p>$15.00</p>
          </div>
          <p>1/3lb patty, shredded lettuce, pepper jack cheese, roasted poblano, roasted bell peppers, fresh jalapanos,
            spicy habanero aioli.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Monkey Burger</h2>
            <p>$16.00</p>
          </div>
          <p>1/3lb patty, swiss cheese, cheddar cheese, roasted poblano, bacon, sauteed mushrooms, caramelized onion,
            tomatoes, red onion.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Cheddar Bacon</h2>
            <p>$15.00</p>
          </div>
          <p>1/3lb patty, cheddar, bacon, tomato, red onion, lettuce, garlic herb aioli.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Burger of the Month</h2>
            <p>Price varies</p>
          </div>
          <p>Ask staff for delicious details!</p>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="zero-proof happy-hour">
            <h2>Happy Hour</h2>
            <p>4pm - 6pm daily</p>
            <div class="na-row">
              <div class="price-row">
                <h3>Draft beer</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>All menu pizzas</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>Great American Burger</h3>
                <p>$7.00</p>
              </div>
              <div class="price-row">
                <h3>Margaritas</h3>
                <p>$7.00</p>
              </div>
            </div>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>
      </div>
    </section>
  </main>

</body>