<main class="main">
  <section class="header">
    <div class="header-wrap">
      <div class="header-container">
        <hr class="header-line">
        <h1>Drinks Menu</h1>
        <hr class="header-line">
      </div>
      <p>Cocktail recipes courtesy of our sister company, <a href="#">Juniper</a> - a specialty gin spirits, and
        cocktail lounge.</p>
    </div>
  </section>

  <section class="picture-section">
    <picture class="beer-picture">
      <source srcset="../../images/ginSpritz.jpg" media="(max-width: 767px)">
      <source srcset="../../images/ginSpritz.jpg" media="(max-width: 767px)">
      <img src="../../images/ginSpritz.jpg" alt="cocktail menu">
    </picture>
    <picture class="beer-picture">
      <source srcset="../../images/cocktails.jpg" media="(min-width: 768px)">
      <source srcset="../../images/cocktails.jpg" media="(max-width: 767px)">
      <img src="../../images/cocktails.jpg" alt="Beer menu">
    </picture>
    <picture class="beer-picture">
      <source srcset="../../images/juniperDrink.jpg" media="(min-width: 768px)">
      <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
      <img src="../../images/blonde.jpg" alt="Beer menu">
    </picture>
  </section>

  <section class="beer-menu">
    <div class="beer-row">
      <article class="beer-item">
        <div class="price-row">
          <h2>Negroni</h2>
          <p>$10.00</p>
        </div>
        <p>Contratto bitter, sweet vermouth, house rosemary peppercorn syrup, Prosecco, orange peel.</p>
      </article>
      <article class="beer-item">

        <div class="price-row">
          <h2>Cappelletti Americano</h2>
          <p>$10.00</p>
        </div>
        <p>Cappelletti apertivo, sweet vermouth, simple syrup, soda, dried blood orange.</p>
      </article>
    </div>
    <div class="beer-row">
      <article class="beer-item">
        <div class="price-row">
          <h2>Clear View</h2>
          <p>$10.00</p>
        </div>
        <p>Sweet vermouth, Prosecco, muddled basil, fresh lemon.</p>
      </article>
      <article class="beer-item">

        <div class="price-row">
          <h2>Marquesa</h2>
          <p>$10.00</p>
        </div>
        <p>Sweet vermouth, house orange mint syrup, soda.</p>
      </article>
    </div>

    <div class="beer-row">
      <article class="beer-item">
        <div class="price-row">
          <h2>Casal Penedes</h2>
          <p>$10.00</p>
        </div>
        <p>Mediterranean vermouth, house orange mint syrup, soda, dried grapefruit.</p>
      </article>
      <article class="beer-item">
        <div class="price-row">
          <h2>Cilantro Gin Spritz</h2>
          <p>$11.00</p>
        </div>
        <p>Botanist Gin, Prosecco, muddled cilantro, fresh lime.</p>
      </article>
    </div>

    <div class="beer-row">
      <article class="beer-item">
        <div class="price-row">
          <h2>Mule</h2>
          <p>$9.00</p>
        </div>
        <p>Choice of Moscow, Mexican, London, or Kentucky. Ginger beer, fresh lime.</p>
      </article>
      <article class="beer-item">
        <div class="price-row">
          <h2>Margarita</h2>
          <p>$10.00</p>
        </div>
        <p>Tequila, fresh lime, simple syrup, cointreau.</p>
      </article>
    </div>

    <div class="beer-row">
      <article class="beer-item">
        <div class="price-row">
          <h2>Prickly Pear Margarita</h2>
          <p>$12.00</p>
        </div>
        <p>Tequila, fresh lime, simple syrup, cointreau, prickly pear infusion.</p>
      </article>
      <article class="beer-item">
        <div class="price-row">
          <h2>Bloody Mary</h2>
          <p>$10.00</p>
        </div>
        <p>House-made Bloody Mary mix, vodka. Sub Tito's vodka $1.</p>
      </article>
    </div>

    <div class="beer-row">
      <article class="beer-item">
        <div class="price-row">
          <h2>Michelada</h2>
          <p>$7.00</p>
        </div>
        <p>House-made Michelada mix with Green Chili Ale side-car.</p>
      </article>
      <article class="beer-item">
        <div class="price-row">
          <h2>Mimosa</h2>
          <p>$7.00</p>
        </div>
        <p>Prosecco and fresh-squeezed orange juice.</p>
      </article>
    </div>

    <div class="beer-row">
      <article class="beer-item na-wrapper">
        <div class="na-container">
          <h2>Non-Alcoholic</h2>
          <div class="na-row">
            <div class="price-row">
              <h2>Sodas</h2>
              <p>$3.00</p>
            </div>
            <p>Selection varries - Self-serve</p>
            <div class="price-row">
              <h2>Maya Ice Tea</h2>
              <p>$3.00</p>
            </div>
            <p>Prickly pear tea</p>
            <p>Black tea</p>
          </div>
        </div>
      </article>
      <article class="beer-item transparent-wrap">
      </article>
    </div>
  </section>
</main>