/*All CSS styling can be found in menu.css*/
  <main class="main">
    <section class="header">
      <div class="header-wrap">
        <div class="header-container">
          <hr class="header-line">
          <h1>Kids Menu</h1>
          <hr class="header-line">
        </div>
        <p>Ages 12 and under</p>
      </div>
    </section>

    <section class="picture-section">
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/16ozTapCollage.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/blonde.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
    </section>

    <section class="beer-menu">
      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Kid's Burger</h2>
            <p>$8.00</p>
          </div>
            <p>Burger patty and bun with choice of cheese. Side of fries.</p>
        </article>

        <article class="beer-item">
          <div class="price-row">
            <h2>8" Pizza</h2>
            <p>$8.00</p>
          </div>
          <p>Red sauce, mozzarella cheese, choice of pepperoni, sausage or extra cheese.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Chicken Tenders</h2>
            <p>$9.00</p>
          </div>
          <p>Three breaded chicken tenders. Side of fries.</p>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="zero-proof happy-hour">
            <h2>Happy Hour</h2>
            <p>4pm - 6pm daily</p>
            <div class="na-row">
              <div class="price-row">
                <h3>Draft beer</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>All menu pizzas</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>Great American Burger</h3>
                <p>$7.00</p>
              </div>
              <div class="price-row">
                <h3>Margaritas</h3>
                <p>$7.00</p>
              </div>
            </div>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>
    </section>
  </main>

