<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../nav.css">
  <link rel="stylesheet" href="../footer.css">
  <link rel="stylesheet" href="../../styles/style.css">
  <title>Document</title>
</head>

<body>
  <header>
    <!-- Navigation Bar-->
    <div id="nav-placeholder"></div>
  </header>
  <main class="main-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque excepturi mollitia nulla provident quasi nostrum nihil, vero iste autem magni, eaque error quo voluptates amet ipsum esse in officia quod. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem ex eos, accusantium ullam voluptate laboriosam repudiandae quas explicabo, dolorum neque ad repellendus esse quos! Dolore consectetur aperiam quo unde nihil!</p>
  </main>

  <footer id="footer-placeholder"></footer>
  
  <script type="module" src="../../scripts/loadNav.js"></script>
  <script type="module" src="../../scripts/loadFooter.js"></script>
</body>

</html>