/*All CSS styling can be found in menu.css*/
  <main class="main">
    <section class="header">
      <div class="header-wrap">
        <div class="header-container">
          <hr class="header-line">
          <h1>Merch</h1>
          <hr class="header-line">
        </div>
        <p>Rep your local brewery.</p>
      </div>
    </section>

    <section class="picture-section">
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/16ozTapCollage.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/blonde.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
    </section>

    <section class="beer-menu">
      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Unisex Large Sun logo - Short Sleeve</h2>
            <p>$18.40</p>
          </div>
          <p>Comfy fabric, fitted style.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Unisex Front Pocket Logo - Short Sleeve</h2>
            <p>$18.40</p>
          </div>
          <p>Sturdy cotton fabric, relaxed fit, front pocket.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Wemons T-shirt - Cap Sleeve</h2>
            <p>$18.40</p>
          </div>
          <p>Comfy fabric, fitted style.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Unisex Large Sun logo - Long Sleeve </h2>
            <p>$18.40</p>
          </div>
          <p>Comfy fabric, fitted style.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="zero-proof happy-hour">
            <h2>Happy Hour</h2>
            <p>4pm - 6pm daily</p>
            <div class="na-row">
              <div class="price-row">
                <h3>Draft beer</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>All menu pizzas</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>Great American Burger</h3>
                <p>$7.00</p>
              </div>
              <div class="price-row">
                <h3>Margaritas</h3>
                <p>$7.00</p>
              </div>
            </div>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>
    </section>
  </main>