/*All CSS styling can be found in menu.css*/
  <main class="main">
    <section class="header">
      <div class="header-wrap">
        <div class="header-container">
          <hr class="header-line">
          <h1>Pizza Menu</h1>
          <hr class="header-line">
        </div>
        <p>13" pizza made with fresh dough, mixed in-house with our craft beer and slow-risen for exceptional flavor.
        </p>
      </div>
    </section>

    <section class="picture-section">
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/16ozTapCollage.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/blonde.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
    </section>

    <section class="beer-menu">
      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Iron Pie</h2>
            <p>$18.00</p>
          </div>
          <p>Red sauce, mozzarella, pepperoni, sausage, diced bacon, roasted red pepper, sprinkle of dried oregano.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>The Garden</h2>
            <p>$15.00</p>
          </div>
          <p>Red sauce, mozzarella, tomato, green bell pepper, black olives, red onion, mushroom, sprinkle of dried
            oregano. Substitutions welcomed, no additions.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Buff Chick</h2>
            <p>$16.00</p>
          </div>
          <p>Buffalo-marinara base, mozzarella, buffalo chicken, pickled onions, buffalo cream swirl, ranch swirl,
            sprinkle of parsley.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Hot Honey</h2>
            <p>$16.00</p>
          </div>
          <p>Red sauce, mozzarella, pepperoni, ricotta, oregano, hot honey swirl.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Bianca</h2>
            <p>$16.00</p>
          </div>
          <p>Alfredo sauce, mozzarella, bacon, prosciutto, oregano, topped with a pesto swirl.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Mediterranean</h2>
            <p>$16.00</p>
          </div>
          <p>Rosemary garlic oil, arugula, mozzarella, prosciutto, black olives, artichokes, topped with a balsamic
            swirl.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Arugula</h2>
            <p>$16.00</p>
          </div>
          <p>Red sauce, mozzarella, prosciutto, goat cheese, shaved parmesan cheese. Topped with pickled red onions and
            arugula dressed in Meyers lemon oil and balsamic glaze.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Margherita</h2>
            <p>$15.00</p>
          </div>
          <p>Red sauce, sliced mozzarella, oregano, chiffonade basil, rosemary garlic oil swirl. Add pepperoni - $2.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <h2>Build-a-Pie</h2>
          <div class="price-row">
            <h3>Base 13" Pizza</h3>
            <p>$11.00</p>
          </div>
          <p>Includes red sauce, alfredo, buffalo red sauce, or rosemary garlic oil. Shredded mozzarella cheese. Maximum
            of five additional toppings.</p>
          <div class="topping-container">
            <div class="topping-row">
              <p>- Sliced mozzarella - $2</p>
              <p>- Ricotta - $2</p>
              <p>- Goat cheese - $2</p>
              <p>- Pepperoni - $2</p>
              <p>- Sausage - $2</p>
              <p>- Buffalo chicken - $2</p>
              <p>- Diced bacon - $2</p>
              <p>- Prosciutto - $3</p>
              <p>- Diced green bell peppers - $1</p>
              <p>- Red onions - $1</p>
              <p>- Pickled red onions - $1</p>
              <p>- Banana peppers - $1</p>
              
            </div>
            <div class="">
              <p>- Roasted red peppers - $1.</p>
              <p>- Cherry tomatos - $1</p>
              <p>- Mushrooms - $1</p>
              <p>- Jalapanos - $1</p>
              <p>- Black olives - $1</p>
              <p>- Basil - $1</p>
              <p>- Minced garlic - $1</p>
              <p>- Buffalo cream - $1</p>
              <p>- Ranch swirl - $1</p>
              <p>- Pesto swirl - $1</p>
              <p>- Balsamic glaze swirl $1</p>
              <p>- hot honey swirl - $1</p>
            </div>
          </div>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Pizza of the Month</h2>
            <p>$16.00</p>
          </div>
          <p>Ask staff for the delicious details.</p>
          
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="zero-proof happy-hour">
            <h2>Happy Hour</h2>
            <p>4pm - 6pm daily</p>
            <div class="na-row">
              <div class="price-row">
                <h3>Draft beer</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>All menu pizzas</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>Great American Burger</h3>
                <p>$7.00</p>
              </div>
              <div class="price-row">
                <h3>Margaritas</h3>
                <p>$7.00</p>
              </div>
            </div>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>
      </div>
    </section>
  </main>
