<body>
  <main class="main">
    <section class="header">
      <div class="header-wrap">
        <div class="header-container">
          <hr class="header-line">
          <h1>Salads Menu</h1>
          <hr class="header-line">
        </div>
        <p>Add seasoned grilled or crispy chicken on any salad - $3</p>
      </div>
    </section>

    <section class="picture-section">
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/16ozTapCollage.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/blonde.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
    </section>

    <section class="beer-menu">
      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Caesar</h2>
            <p>$8.00</p>
          </div>
          <div class="price-row">
            <h3>Family Size</h3>
            <p>$14.00</p>
          </div>
          <p>Romaine, shaved parmesan, croutons, house made caesar.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Deluxe House</h2>
            <p>$9.00</p>
          </div>
          <p>Mixed greens, cherry tomatoes, carrots, red onion, mushrooms, black olives, and croutons. Choice of ranch caesar, pear vinaigrette, balsamic, or oil and vinegar.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Granny Apple Lemon</h2>
            <p>$7.00</p>
          </div>
          <p>Mixed greens, arugula, pickled red onion, green chile beer soaked raisins, goat cheese, Granny Smith apple, pear vinaigrette, Meyer's lemon oil.</p>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="zero-proof">
            <h2>Happy Hour</h2>
            <p>4pm - 6pm daily</p>
            <div class="na-row">
              <div class="price-row">
                <p>Draft beer</p>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <p>All menu pizzas</p>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <p>Great American Burger</p>
                <p>$7.00</p>
              </div>
              <div class="price-row">
                <p>Margaritas</p>
                <p>$7.00</p>
              </div>
            </div>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>
    </section>
  </main>

</body>