/*All CSS styling can be found in menu.css*/
  <main class="main">
    <section class="header">
      <div class="header-wrap">
        <div class="header-container">
          <hr class="header-line">
          <h1>Sandwich Menu</h1>
          <hr class="header-line">
        </div>
        <p>Includes side of fries or salad</p>
        <p>Upgrade to Sanoran fries or fried pickles!</p>
      </div>
    </section>

    <section class="picture-section">
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/16ozTapCollage.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/blonde.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
    </section>

    <section class="beer-menu">
      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Caprese</h2>
            <p>$14.00</p>
          </div>
            <p>Sliced mozzarella, tomato, basil, balsamic glaze, rosemary garlic oil on eight inch hoagie roll. Add grilled or crispy chicken - $3</p>
        </article>

        <article class="beer-item">
          <div class="price-row">
            <h2>BLT</h2>
            <p>$14.00</p>
          </div>
          <p>Bacon, lettuce, tomato, red onion, garlic herb aioli on toasted eight inch hoagi roll.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Hot Italian</h2>
            <p>$15.00</p>
          </div>
          <p>Salami, pepperoni, mozzarella, tomatoes, lettuce, balsamic vinaigrette, with sauteed, mushrooms, bell peppers, and onions on toasted eight inch hoagi roll.</p>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="zero-proof happy-hour">
            <h2>Happy Hour</h2>
            <p>4pm - 6pm daily</p>
            <div class="na-row">
              <div class="price-row">
                <h3>Draft beer</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>All menu pizzas</h3>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <h3>Great American Burger</h3>
                <p>$7.00</p>
              </div>
              <div class="price-row">
                <h3>Margaritas</h3>
                <p>$7.00</p>
              </div>
            </div>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>
    </section>
  </main>
  /*All CSS styling can be found in menu.css*/