<body>
  <main class="main">
    <section class="header">
      <div class="header-wrap">
        <div class="header-container">
          <hr class="header-line">
          <h1>Sharables Menu</h1>
          <hr class="header-line">
        </div>
        <p>Perfect for the whole family.</p>
      </div>
    </section>

    <section class="picture-section">
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/16ozTapCollage.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/16ozTapCollage.jpg" alt="Beer menu">
      </picture>
      <picture class="beer-picture">
        <source srcset="../../images/blonde.jpg" media="(min-width: 768px)">
        <source srcset="../../images/16ozTapCollage.jpg" media="(max-width: 767px)">
        <img src="../../images/blonde.jpg" alt="Beer menu">
      </picture>
    </section>

    <section class="beer-menu">
      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Classic Fries</h2>
            <p>$4.00</p>
          </div>
          <p>Hand-cut in house & perfectly seasoned.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Fried Pickles</h2>
            <p>$6.00</p>
          </div>
          <p>Sliced pickle chips fried and seasoned, with a side of house made ranch.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Garlic Knots</h2>
            <p>$7.00</p>
          </div>
          <p>Eight house-made knots with garlic butter and shaved parmesan and a side of marinara.</p>
        </article>
        <article class="beer-item">
          <div class="price-row">
            <h2>Loaded Sonoran Fries</h2>
            <p>$9.00</p>
          </div>
          <p>House-made french fries, melted pepper jack and cheddar, diced green chili, diced bacon, green chili
            remoulade.</p>
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="price-row">
            <h2>Chicken Tenders</h2>
            <p>$12.00</p>
          </div>
          <p>Five breaded chicken tenders with a side of fries and ranch.</p>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>

      <div class="beer-row">
        <article class="beer-item">
          <div class="zero-proof">
            <h2>Happy Hour</h2>
            <p>4pm - 6pm daily</p>
            <div class="na-row">
              <div class="price-row">
                <p>Draft beer</p>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <p>All menu pizzas</p>
                <p>50% off!</p>
              </div>
              <div class="price-row">
                <p>Great American Burger</p>
                <p>$7.00</p>
              </div>
              <div class="price-row">
                <p>Margaritas</p>
                <p>$7.00</p>
              </div>
            </div>
        </article>
        <article class="beer-item transparent-wrap">
        </article>
      </div>
      </div>
    </section>
  </main>

</body>