/* General styling for entire site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #232323;
}

/* HERO SECTION CSS */
#rotating-pics-banner {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Ensures no content spills out */
}

/* Background Image Wrapper */
.background-image-container {
  /* position: absolute; */
  /*this property doesnt appear to make any real change that im yet noticing*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: pink solid 1px;
  overflow: hidden;
}

.background-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add fade effect to the top and bottom of the container which holds the image */
.background-image-container:before,
.background-image-container:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 350px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.background-image-container:before {
  top: 0;
  /* Fade at the top of the image */
}

.background-image-container:after {
  bottom: 0;
  /* Fade at the bottom of the image */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

#rotating-pics-banner h1 {
  position: absolute;
  /* Position relative to .rotating-pics */
  top: 60%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Centering adjustment */
  color: white;
  /* Ensure text is readable */
  font-size: 4.5rem;
  /* Adjust as needed */
  text-align: center;
  /* Center text horizontally */
  z-index: 100;
  /* Ensure it's on top */
  border-style: solid;
  /* Sets the border style */
  border-width: 2px 0;
  /* Sets the top and bottom borders to 2px, and left and right to 0 */
  width: 80%;
  z-index: 0;
}

/* WELCOME SECTION WITH MENU AND PICUTRES */
.menu-description,
.main-title {
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  width: 80%;
  margin: 0 auto;
  padding: 0 2em 0 2em;
}

.main-title {
  justify-content: center;
  padding: 2em;
}

.main-title h1 {
  font-size: 2.5em;

}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-card h1 {
  font-size: 1.5em;
  padding-bottom: 3%;
}

.menu-card,
.menu-images {
  max-width: 50%;
  height: auto;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid greenyellow;
}

.menu-images picture img {
  width: 100%;
  /* Make the image fill the container's width */
  height: 100%;
  /* Maintain proportionality based on container height */
  object-fit: cover;
  /* Ensure the image covers the container without stretching */
}

.details-sections li {
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
}

/* Where I left off 10/23: Studying Culinary dropout web page and am practicing using their styling ideas and html semantic practices. Will begin tomorrow by finishing this menu section with pictures and empty links included */