

:root {
    --primary-color: #F99D2C;
    --text-color-light: #ffffffea;
    --text-color-dark: #111;
    --background-color-dark: #111;
    --background-color-medium-dark: #333;
    --background-color-medium: #444;
    --color-black: #000;
}